<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center"><%= @company.name %> Test Suite </h1>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" href="#">Open</a></li>
          <li class="nav-item">
            <a class="nav-link" href="#">Closed</a>
          </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Deleted</a>
        </li>
      </ul>
      <table class="table table-striped">
    <thead>
      <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Access Code</td>
        <td>Created Date</td>
        <td>Status</td>
        <td>Actions</td>
      </tr>
    </thead>
    <tbody>
          <h3>Playtests: <%= @playtest_table_message %></h3>
      <% @play.each do |play| %>
      <tr>
        <td><%= play.id %></td>
        <td><%= play.name %></td>
        <td><%= play.access_code %></td>
        <td><%= play.created_at %></td>
        <td><%= play.status %></td>
        <td>
          <div class="btn-group" role="group">
            <button id="btnGroupDrop1" type="button" class="btn btn-info dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Actions</i>
            </button>
            <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
              <a class="dropdown-item" href="/playtests/<%= play.id %>"><i class="far fa-folder-open"></i> Open</a>
              <a class="dropdown-item" data-method="delete" href="playtests/<%= play.id %>"><i class="far fa-times-circle"></i> Close</a>
              <a class="dropdown-item" data-method="delete" href="playtests/<%= play.id %>"><i class="fas fa-ban"></i> </i> Delete</a>
            </div>
          </div>
      </td>
      </tr>
      <% end %>
    </tbody>
  </table>
    </div>
  </div>
</div>
