<div class="card text-center">
  <div class="card-header">
    <h5><%= @playtest.name %></h5>
  </div><br>
  Status: <%= @playtest.status %>
  <div class="card-body">
    <div class="row">
    <div class="col-4">
      <div class="card bg-primary">
        <div class="card-header text-light">
        Playtest Info
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Access Code <input class="form-control" type="text" placeholder="<%= @playtest.access_code %>" readonly></li>
          <li class="list-group-item">Created On: <input class="form-control" type="text" placeholder="<%= @playtest.created_at %>" readonly></li>
          <li class="list-group-item">Created By: <input class="form-control" type="text" placeholder="<%= @playtest.user.name %>" readonly></li>
        </ul>
      </div>
    </div>
    <div class="col-4">
      <div class="card bg-primary">
        <div class="card-header text-light">
          Testers
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Playtesters:
            <% if @testers.blank? %>
            <input class="form-control" type="text" placeholder="No Playtesters..." readonly>
            <% else %>
            <select class="form-control" id="test-name">
              <% @testers.each do |testers| %>
                  <option><%= testers.user.name %></option>
              <% end %>
            <% end %>
            </select>
          </li>
          <li class="list-group-item">New Applications: <input class="form-control" type="text" placeholder="<%= @applications.count %>" readonly> </li>
          <li class="list-group-item">Rejected Applications: <input class="form-control" type="text" placeholder="<%= @applications_rejected.count %>" readonly></li>
        </ul>
      </div>
    </div><div class="col-4">
      <div class="card bg-primary">
        <div class="card-header text-light">
          Description
        </div>
        <ul class="list-group list-group-flush">
          <textarea class="form-control" readonly><%= @playtest.description %></textarea>
        </ul>
      </div>
    </div>
    </div>
  </div>
  <div class="card-footer text-muted">
  <button type="submit" class="btn btn-warning text-light"><i class="fas fa-sync-alt"></i> Edit This Playtest</button> <button type="submit" class="btn btn-danger"><i class="fas fa-trash-alt"></i> Delete This Playtest</button>
</div>
</div>
<div class="container">
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
            Applications
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <div class="inline-form">
            <%= form_tag '/playtests/openapp', method: "patch" do |f| %>
            <%= hidden_field_tag 'playtest_id', @playtest.id  %>
              <%= submit_tag "Open Applications", class: "btn btn-success", data: { confirm: "Opening applications will allow this playtest to recieve applications!" } %>
              <% end %>
          </div>
          <div class="inline-form">
            <%= form_tag '/playtests/closeapp', method: "patch" do |f| %>
            <%= hidden_field_tag 'playtest_id', @playtest.id  %>
              <%= submit_tag "Stop Applications", class: "btn btn-danger", data: { confirm: "Are you sure you want to close applications? This will change #{@playtest.name} to In Process." } %>
              <% end %>
          </div>
          <br>
          <% if @applications.empty? %> <br><br>
          No Applications yet!
          <% else %>
          <table class="table table-hover">
          <thead>
            <tr>
              <td>Name</td>
              <td>Email</td>
              <td>Status</td>
              <td>Action/Status</td>
            </tr>
          </thead>
          <tbody>
            <% @applications.each do |app| %>
            <tr>
              <td><%= app.user.name %></td>
              <td><%= app.user.email %></td>
              <td><%= app.status %></td>
              <td>
                <div class="dropdown show">
              <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Action
              </a>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                <a class="dropdown-item" href="/applications/<%= app.id %>">View Application</a>
                <a class="dropdown-item" href="/applications/<%= app.id %>" data-method="delete">Delete Application</a>
              </div>
            </div>
            </td>
            <% end %>
          </tbody>
        </table>
        <% end %>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header" id="headingTwo">
        <h5 class="mb-0">
          <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
            Admin Notes
          </button>
        </h5>
      </div>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
        <div class="card-body">
          <form action="/playtests/<%= @playtest.id %>" method="post">
            <input name="_method" type="hidden" value="patch" />
            <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
            <textarea class="form-control" name=notes[notes]><%= @playtest.notes %></textarea> <br>
            <button type="submit" class="btn btn-primary">Update Notes</button>
          </form>
        </div>
      </div>
    </div>
    <hr>
  </div>
</div>
